*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora";
}

/* ===============EXTERNAL FONT FAMILY================ */
.lora-font {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* =======================NAVBAR======================= */
.nav{
  width: 100%;
  display: flex;
  justify-content: center;

}
.navbar{
  width: 40%;
  background-color: #242A24;
  border-radius: 100px;
  /* height: 10vh; */
  display: flex;
  padding: 4px;
  align-items: center;
  justify-content: space-between;
}
.link {
  color: white;
  text-decoration: none;
  /* background-color:  red; */
  width: 17%;
  border-radius: 100px;
  padding: 10px 10px;
  font-size: 1.4rem;


}
.link span{
  display: none;
}
.link:hover, .download{
  background-color: white;
  color: black;
  font-size: 1rem;

}
.link:hover span{
  display: block;
  font-size: 1rem;
}

.link h2{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

@media screen and (max-width: 768px) {
 .navbar{
  width: 80%;
}
}
@media screen and (max-width: 480px) {
.link:hover span{
  font-size: 0.65rem;
}
.link {
  width: 22%;
  border-radius: 50px;
}
}
/* =========================HOME PAGE================ */
.home{
  width: 100%;
  height: 100svh; 
}
.name{
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.name div{
  text-align: center;
  font-size: 1.5rem;
}


/* ===============ABOUT PAGE================ */
.about{
  width: 100%;
  /* height: 100vh; */
  padding-top: 3rem;
  position: relative;
  /* border: 1px solid blue; */
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
}

.about-main{
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-container{
  width: 80%;
  position: relative;
  /* border: 1px solid red; */
  display: flex;
}
.about-nav{
   position: sticky; 
     bottom: 10%;
}
#profile, .experience{
  width: 50%;
  /* border: 1px solid green; */
}
/* #profile{
  margin-top: 7%;
  
} */
.sticky{
  position: sticky;
  height: 800px;
  top: 7%;
  /* bottom: 30%;,` */

}
.experience{
  text-align: left;
  /* position: absolute; */
}
.profile-img{
  width: 70%;
  height: 300px;
  /* border: 1px solid black; */
  background-size: cover;
  border-radius: 10px;
  margin-bottom: 2rem;
  background-repeat: no-repeat;
  background-image: url(./assets/images/Enene2.jpg);
}
.profile-info{
  font-size: 1.15rem;
  color: #242A24;
  
  
}
.profile-info p{
  /* font-size: 1.5rem; */
  color:  #7D7A7A;
  ;
}
.profile-info h1{
  margin-bottom: 0.7rem;
  font-size: 2.8rem;
}
.bx-sp{
  width: 80%;
  font-size: 1.15rem;
}
.bx-sp p{
  margin: 1rem 0 1.2rem;
  line-height: 1.5rem;
}
.btn{
  width: 30%;
  padding: 10px 0;
  border-radius: 100px;
  background-color: #242A24;
  color: #FCFBFC;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  margin-bottom: 2rem;
}
.btn:hover{
  background-color: black;
}
.companies, .bx{
  margin: 0.2rem 0 4rem;
  color: #242A24;
  ;
}
.bx-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding:  1rem;
  background-color:  #FCFBFC;
  border-radius: 50px;
}
.work-sp{
  justify-content:left;

}
.spacing{
  margin: 2.5rem 0;
}
.company-info{
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.company-img{
  width: 80px;
  height: 80px;
  /* border: 1px solid black; */
  background-size: cover;
  border-radius: 10px;
  margin-right: 0.5rem;
  /* margin-bottom: 2rem; */
  background-repeat: no-repeat;
  /* background-image: url(./assets/images/e.m.png); */
}
.light{
  margin-bottom: 0.3rem;
  color: #7D7A7A;
  /* font-size: 2.5rem; */
}
.l-sp{
  margin: 0 1.5rem;
  font-size: 1.15rem;
  padding:  1.5rem 0;
}
.font{
  font-size: 1rem;
  margin-top: 0.3rem;
  /* line-height: 1.1rem; */
}
.img-sp{
  margin-left: 1rem;
}
.review{
  width: 50%;
  height: auto ;
  text-align: center;

  /* border: 1px solid blue; */
}
.testimony{
  width: 100%;
  height:auto;
  /* border: 1px solid blue; */
  background-color:  #FCFBFC;
  margin-top: 2rem;


}
.bx-2{
  /* line-height:37.12px; */
  font-size:18px;
  color: #7D7A7A;
  text-align:left;
  padding:2rem 4rem;

}
.p1{
  line-height: 30.12px;
}
.quote {
  font-size:3rem;
}
.testimony-color{
  color: #242A24;

}
.bx-2a {
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin-top: 0.7rem;
}

/* =======FOOTER========= */

.footer{
  width: 80%;
  background-color:  #242A24;
  margin-bottom: 4rem;
  border-radius: 122px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  color: #fff;
 
}


.footer_left-container {
  /* border: 2px solid red; */
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.footer_nav {
  display: flex;
  /* border: 2px solid green; */
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  width: 50%  ;
}

.footer_right-container {
  /* border: 2px solid red; */
  display: flex; 
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}


.footer_img {
  border-radius: 50%;
  width: 200px;
}

.footer_resume-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
  border-radius: 20px;
  background-color: #FCFBFC;
  ;
}
.footer_link, .resume-link{
  text-decoration: none;
  color:  #FCFBFC;
}
.resume-link{
  color:   #242A24;
  
}




@media screen and (max-width: 768px) {
 
 #profile, .experience {
  width: 100%;
  margin-bottom: 3rem;
  /* border: 1px solid green; */
}
.profile-img{
  width: 100%;
  height: 400px;
}

.bx-sp{
  width: 100%;
}
.bx-1 {
padding: 1rem 0;
 
}
.img-sp, .l-sp{
  padding: 0;
  margin: 0;
}

.about-container{
  display: block;
}
.review{
  width: 80%;
}


.footer {
  flex-direction: column;
  border-radius: 20px;
  font-size: .5rem;
  padding: 3.5rem 1rem;
}

.footer_img {
  width: 100px;
}

.footer_nav {
  flex-wrap: nowrap;
  width: fit-content;
}

.footer_right-container {
  /* border: 2px solid red; */
  margin-top: 1.5rem;
  padding-inline: 1rem  ;
  gap: 2rem;
}

.footer_resume-container {
  gap: .25rem;
  width: 4.5rem;
}


}
/* =====================PROjECT PAGE=============== */
.project-container{
  width: 70%;
}
.heading{
  margin-bottom: 2rem;
  font-size: 1.7rem;
  color:  #242A24;
  ;
}
.heading hr{
  margin: 2rem 0 1rem;
}
.project-list{
  width: 100%;
  height: auto;
  /* border: 1px solid green; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;


}
.project-box{
  width: 45%;
  height: 450px;
  /* border: 1px solid red; */
  margin-bottom: 2rem;
}
.project-img{
  height: 70%;
  /* border: 1px solid blue; */
  border-radius: 20px;
}
.project-img img{
  width: 100%;
  height: 100%;
}
.project-name{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #242A24;
  margin-top: 0.6rem;
}
.action{
  border-radius: 20px;
  background-color: #D9D9D9;
  padding: 0 .8rem;
  margin-top: 0;
}

.state{
  width: 8px;
  height: 8px;
  background-color:#FF0909;
  border-radius: 50%;
  margin-right: .3rem;
}
.project-about{
  color: #7D7A7A;
  line-height: 28px;
}
#footer{
  margin-bottom: 4rem;

}
@media screen and (max-width: 768px) {

  .project-container{
    width: 80%;
  }
  .project-box{
    width: 100%;
  }
  .project-list{
    display: block;
  }
}

/* ======================CONTACT PAGE===================== */

.email{
  width: 100%;
  height: auto;
  margin: 5rem 0 3rem;
  /* border: 1px solid green; */
  text-align: center;
  /* color: #242A24; */
}
.email h3, .email a{
  font-size: 2.65rem;
  line-height: 64px;
  color: #242A24;

}
.social{
  display: flex;
  justify-content: center;
  width: 100%;
  /* border: 1px solid green; */

}
.social-icons{
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 0 7rem;
  /* border: 1px solid green; */
  /* text-align: center; */
  /* color: #242A24; */
}
.social-icons a{
  font-size: 2.1rem;
  /* line-height: 64px; */
  color:#7D7A7A;
  padding: 0.8rem 0.8rem .4rem;
  border-radius: 10px;
  /* border: 1px solid yellowgreen; */
}
.social-icons a:hover{
  background-color: #242A24;
  color:#FCFBFC;
}

@media screen and (max-width: 768px) {

  .social-icons{
    width: 100%;
  }
  .email h3, .email a{
    font-size: 1.6rem;
    line-height: 64px;
    color: #242A24;
  
  }
}






